<p><strong>Site developer's note</strong></p>

<p>The current build of this website is only offering 6 flights on 2 dates</p>
<ul> November 20th,2020
  <li> Toronto to NYC // NYC to Toronto </li>
  <li> Los Angeles to Tokyo // Tokyo to Los Angeles </li>
</ul>
<ul> November 21st, 2020
  <li> London to Barcelona // Barcelona to London </li>
</ul>


<%= render 'searchform' %>
<%= render 'selectform'%>
